<section class="contacts-section" data-bg="http://images.travelpod.com/users/amynp/9.1452127244.lanterns.jpg">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="user-avatar wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
          <img src="http://images.travelpod.com/users/amynp/6.1389047774.me.jpg" alt="user-avatar" class="img-responsive">
        </div>
        <h1 class="text-uppercase">Want to go on one of these trips?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p> Contact me at ASAPadventures to get help organising a fantastic trip! Be warned once you get bitten by the travel bug there is no cure.
        </p>
      </div>
    </div>
    <div class="row">
      <ul class="col-md-12 text-uppercase list-inline contacts-list">
        <li class="wow fadeIn" data-wow-delay="0.1s">
          <a href="#">
            <i class="icon icon-facebook"></i>
            <span>Facebook</span>
          </a>
        </li>
        <li class="wow fadeIn" data-wow-delay="0.5s">
          <a href="mailto:#">
            <i class="icon icon-envelope"></i>
            <span>#</span>
          </a>
        </li>
      </ul>
    </div>
</section>}
