<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myMenu" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="{{ "/images/logo.png" | prepend: site.baseurl }}"/>
  </a>
</div>

<div class="collapse navbar-collapse" id="myMenu">
  <ul class="nav navbar-nav text-uppercase text-center">
    <li class="animated fadeInDown"><a href="/travelblog">Travel Blog</a></li>
    <li class="animated fadeInDown"><a href="/travelguides">Travel Guides</a></li>
    <li class="animated fadeInDown"><a href="/bucketlist">Bucket List</a></li>
    <li class="animated fadeInDown"><a href="https://www.instagram.com/asapadventurestravel/">Travel Photography</a></li>
    <li class="animated fadeInDown"><a href="https://www.redbubble.com/people/asapadventures/shop?asc=u">Shop</a></li>
  </ul>
</div>
