---
layout: default
---

<div id="page-content" class="blog-page">

  {% include banner-image.html %}

  <main>
    <div class="blog-post-wrapp">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="blog-post-content">
              {{ page.content }}
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>

        <!-- pagination -->
        <div class="row">
          <div class="col-md-12">
            <nav aria-label="Page navigation" class="wow fadeInUp" data-wow-delay="0.2s">
              <ul class="pagination posts-pagination text-uppercase">
                {% if page.previous %}
                  <li class="prev-post pull-left">
                    <a href="{{ page.previous.url | prepend: site.baseurl }}">
                      {{ page.previous.title }}
                    </a>
                  </li>
                {% endif %}

                {% if page.next %}
                  <li class="next-post pull-right">
                    <a href="{{ page.next.url | prepend: site.baseurl }}">
                      {{ page.next.title }}
                    </a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
        <!-- /.pagination -->

      </div>
    </div>

    {% includes go-up-arrow.html %}
  </main>
</div>
