<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Raleway:300,400,700,900" rel="stylesheet">

    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ "/css/plugins.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/mediaqueries.css" | prepend: site.baseurl }}">

    <!-- fonts stylesheets -->
    <link rel="stylesheet" href="{{ "/css/fonts.css" | prepend: site.baseurl }}">
  </head>
  <body>

    <!-- overlay -->
    <div class="page_load" style="display: block">
      <div class="page_load_container text-center">
        <div class="circle">
          <div class="inner-circle"></div>
          <i class="fa fa-cloud cloud_big" aria-hidden="true"></i>
          <i class="fa fa-cloud cloud_small" aria-hidden="true"></i>
          <i class="fa fa-certificate" aria-hidden="true"></i>
          <div class="mountain_1"></div>
          <div class="mountain_2"></div>
        </div>
      </div>
    </div>
    <!-- /.overlay -->

    <!-- page content -->
    {{ content }}
    <!-- /page content -->

    <!-- plugins we use -->
    <script type="text/javascript" src="{{ "/js/functions.js" | prepend: site.baseurl }}"></script>

    <!-- initializing functions -->
    <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
