<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    {% if page.title %}
      <meta property="og:title" content="{{ page.title }}" />
      <meta property="og:site_name" content="{{ site.title }}" />
      <meta property="og:type" content="article" />
      <meta property="og:url" content="{{ page.url  | prepend: site.url }}" />

      {% if page.subHeading %}
        <meta property="og:description" content="{{ page.subHeading }}" />
      {% endif %}
      
      {% if page.bannerImage %}
        {% if page.bannerImage contains "http" %}
          <meta property="og:image" content="{{ page.bannerImage }}" />
          <meta property="og:image:secure_url" content="{{ page.bannerImage }}" />
        {% else %}
        <meta property="og:image" content="{{ page.bannerImage | prepend: site.url }}" />
        <meta property="og:image:secure_url" content="{{ page.bannerImage | prepend: site.url }}" />
        {% endif%}
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:alt" content="{{ page.title }}" />
      {% endif %}
    {% endif %}

    {% include favicon.html %}

    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Raleway:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/plugins.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/mediaqueries.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/fonts.css" | prepend: site.baseurl }}">
  </head>
  <body>

    {{ content }}

    <script type="text/javascript" src="{{ "/js/functions.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
